/* 
 Made By Amir Muhammad Abdelrhman
 Student Code:202320183
 Github: github.com/sconderg
*/

:root {
  --primary-color: #3e1671;
  --dark-color: #15101c;
  --secondary-color: #9e78cf;
  --white-color: #ffffff;
  --green-color: #78cfb0;
  --gray-color: #777777;
}
